*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  margin: 0;
}

html {
  background-image: linear-gradient(rgb(254, 198, 197), rgb(255, 125, 125));
  background-repeat: no-repeat;
  background-size: auto;
  color: black;
  min-height: 100%;
  min-width: 600px;
}

body {
  line-height: 1.5;
}

.container {
  align-items: center;
  background-color: white;
  box-shadow: 2px 1px 15px -1px rgba(0, 0, 0, 0.84);
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  min-width: 600px;
  padding: 10px 50px 50px 50px;
  position: relative;
  text-align: center;
  width: 500px;
}

h1 {
  font-family: Times;
  font-weight: bold;
  font-size: 55px;
  margin: 0;
}

p {
  font-size: 20px;
  margin: 10px 0 30px;
}

input {
  border-radius: 5px;
  border: 1px solid;
  outline: none;
  padding: 4px 0;
}

input:focus {
  border: 1px solid blue;
}

input:hover {
  border: 1px solid blue;
}

div#div-input {
  margin: 10px auto;
}

button {
  cursor: default;
  font-weight: bold;
  padding: 4px 0;
  width: 60px;
}

span {
  cursor: pointer;
  font-size: 30px;
  margin-right: 20px;
}

small {
  color: red;
  font-size: 20px;
  font-style: italic;
  margin-top: 1px;
}

ul {
  list-style-type: none;
}

li {
  animation: fade-up 0.4s;
}

li:hover {
  text-decoration: line-through;
}

.fa-solid {
  color: gray;
}

.fa-solid:hover {
  color: black;
}

.completed {
  animation: fade 0.6s;
  color: gray;
  text-decoration: line-through;
}

/* Animations */

.blink {
  animation: blink 0.4s;
  animation-iteration-count: 3;
}

.blink-button {
  animation: blink-button 0.2s;
}

.fade-text1 {
  animation: fade-in 1s;
}

.fade-text2 {
  animation: fade-in 1.3s;
}

.fade-text3 {
  animation: fade-in 1.6s;
}

.slide-down {
  animation: slide-down 0.4s;
  animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
}

/* Keyframes */

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink-button {
  0% {
    background-color: rgb(197, 196, 196);
  }
  50% {
    background-color: white;
  }
  100% {
    background-color: rgb(197, 196, 196);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  69% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-450px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
